@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes bounce-once {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  .animate-bounce-once {
    animation: bounce-once 0.4s ease-in-out;
  }

  @keyframes slide-down {
    from {
      transform: translate(-50%, -100%);
      opacity: 0;
    }
    to {
      transform: translate(-50%, 0);
      opacity: 1;
    }
  }

  .animate-slide-down {
    animation: slide-down 0.3s ease-out;
  }
}
